<%= @game.player_one.name %> vs. <%= @game.player_two.name %> 

<%= @game.player_two.name %>: <%= @game.player_two.hit_points %>HP

<form action='/attack' method="post">
  <input type='submit' value='Attack'>
</form>
